.frame {
    padding: 145px 0;
}

.text-hover{
    color:white;
}
.text-hover:hover{
    color:grey;
}

.heading-title {
    margin-bottom: 100px;
    color: #fff;
}

.imageTable{
    text-align: center;
    border-radius: 8px;
    overflow: hidden;
}

.imageTable .imageTable-header {
    background: #152a38;
}

.imageTable .heading {
    display: block;
    padding: 15px 0;
}

.imageTable .heading:after {
    content: "";
    width: 28%;
    border-top: 1px solid #7c888f;
    display: block;
    margin: 5px auto 0;
}

.imageTable .heading h3 {
    font-size: 24px;
    color: #fff;
    text-transform: uppercase;
    margin: 0;
    letter-spacing: 2px;
}

.imageTable .image-content {
    font-size: 85px;
    color: #fff;
    padding: 10px 0 30px 0;
    display: block;
}

.imageTable .month {
    display: block;
    font-size: 16px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin-top: 15px;
    color: #7f909a;
}

.imageTable .btn {
    display: block;
    font-size: 22px;
    background: #eab01b;
    border: none;
    border-radius: 0;
    padding: 20px 0;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.imageTable .btn:after {
    content: "\f00c";
    font-family: 'FontAwesome';
    margin-left: 5px;
    opacity: 0;
    transition: all 0.5s ease 0s;
}

.imageTable:hover .btn:after {
    opacity: 1;
}

@media screen and (max-width: 990px) {
    .imageTable {
        margin-bottom: 20px;
    }
}

.sr {
    position: absolute;
    bottom: 5;
    right: 150;
}

.view {
    position: absolute;
    top: 30;
    left: 10;
}

.btn-bot {
    position: absolute;
    bottom: 5;
    right: 115px;
}

.btn-danger.outline {
    color: red;
    border: 2px solid red;
    background: rgba(0, 0, 0, 0.5);
}

.btn-danger.outline:hover {
    border: 2px solid red;
    color: #ffffff;
    background: red;
}

.btn-success.outline {
    color: #d6d6d6;
    border: 2px solid #d6d6d6;
    background: rgba(0, 0, 0, 0.5);
}

.btn-success.outline:hover {
    border: 2px solid #d6d6d6;
    color: #000000;
    background: #d6d6d6;
}

.btn-info.outline {
    color: #4dc3ff;
    border: 2px solid #4dc3ff;
    background: rgba(0, 0, 0, 0.5);
}

.btn-info.outline:hover {
    border: 2px solid #4dc3ff;
    color: #ffffff;
    background: #4dc3ff;
}

.btn-warning.outline {
    color: orange;
    border: 2px solid orange;
    background: rgba(0, 0, 0, 0.5);
}

.btn-warning.outline:hover {
    border: 2px solid orange;
    color: #ffffff;
    background: orange;
}

.box_item:hover {
    font-size: 0;
}

.box_item:hover:after {
    content: attr(data-hover);
    font-size: 40px;
    line-height: 28px;
    font-weight: 200;
    text-align: center;
}